.image-zoom img{display:block;transition: all .8s ease;}
.image-zoom img:hover{transform: scale(1.5);}
.image-zoom p{display:block;overflow: hidden;}
#active1:hover{
    background:none;
    color:hsl(32, 93%, 56%);}
#active2:hover{
        background:none;
        color:hsl(32, 93%, 56%);}
 
.video {
      padding-bottom: 40px;
        margin: 40px 0px 0px 0px }
.img_hover:hover{
    background-color: rgb(196, 235, 255);
  
  
}
.img_hover label:hover{
  color: rgb(17, 130, 242);;


}
.img_hover img:hover{
  color: rgb(17, 130, 242);;


}

.img_hover{
  border-radius: 20px;
}
#note {

}
.mz-mb-2 {
  margin-bottom: .5rem !important;
}
.note-label{
  font-size: 17px;
  color: #505f77;
}
.mz-text-gray-dark {
  color: #505f77 !important;
}
.mz-font-semibold {
  font-weight: 600 !important;
}
#note{
  margin-left: 50px;
  background-color: #F5F5F5;
  border-radius: 25px;
  height: 570px;
  font-style: italic;
}
